
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;

}
/* Nav bar styling */

nav{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    width:100%;
    padding: 20px 0px 20px 0px;
    background-color: #d1e0ef;
    text-transform: uppercase;
}
   

.topnav{
    padding: 3px;
}

nav a{
    text-decoration: none;
    margin: 20px;
    color: #000000;
}
    

nav i{
    padding: 0  5px 0 0;
}

/* Header styling  */

header{
    background-image: url("Images/Background.jpg");
    width: 100%;
    height: 750px;
}

.intro{
    display: grid;
    grid-template-columns: 60% 40%;
    padding-top: 100px;    
}

.intro_item{
    margin: 30px;
    align-self: center;
}

.intro_item.intro_text{
    background-color:#FFFFFF ;
    padding: 100px 40px;
    margin-left: 150px;
}


.profile{
    object-fit: cover;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    display: block;
    margin:auto;
}

/* header button styling */

button{
    padding: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:30px;
    font-size: 20px;
    border-radius: 45px;
    border-style: none;
    background-color: #FFFFFF;
    position: relative;
    z-index: 2;
}

.jump_to_contact{
    text-decoration: none;
}

/* My work section styling */

.my_work{
    display: grid;
    grid-template-columns: 40% 60%;
    padding-top: 100px;
    background-color: #d1e0ef; 
}
.project_text{
    padding: 40px;
    margin-left: 50px;
}
.project_image img{
   height: 400px;
   width:auto;
   padding: 30px;
   display: block;
   margin-left:auto;
   margin-right:auto;
}

.my_work_two{
    display: grid;
    grid-template-columns: 60% 40%;
    padding-top: 100px;
    background-color: #d1e0ef;
}

/* My experience section styling */

.my_experience{
    background-color: #fae3e5;
    margin: 0px;
    display: grid;
    grid-template-columns: 60% 40%;
}

.experience_text{
    padding: 150px;
}

/* Contact form styling */

.contact_form_section{
    background-image: url("Images/Background.jpg");
    width: 100%;
    height: 850px;
    padding-top:100px;
    
}
.contact_form{
    background-color: #FFFFFF;
    padding: 60px 40px;
    padding: 100px;
    margin: auto;
    width:50%;
}

input{
    display: block;
    padding:10px;
    margin: 10px;
    background-color: #d1e0ef;
    border:none;
    font-family:'Poppins', sans-serif;
}

textarea{
    margin:0 10px;
    padding: 1px 2px;
    background-color: #d1e0ef;
    border:none;
    font-family:'Poppins', sans-serif;
    padding: 10px;
    color:#000000
}

textarea::placeholder{
    color:#6a6a6a;
}

/* Footer bar styling */
footer{
    width: 100%;
    height:70px;
    background-color: #fae3e5;
    color:#214794;
    padding: 20px;
}
footer a{
    color:#214794;
    padding:5px;
    text-decoration: none;
}
footer a:hover{
    color: #e2431b;
}

.email_link{
    float: right;
}

@media only screen and (max-width:1266px){
    .my_experience{
        display: grid;
        grid-template-columns: 100%;
    }
    /* a .cv_icon{
        margin:auto;
    } */
    .my_experience{
        background-color: #fae3e5;
        background-size: cover;
        background-position: center;
        margin: 0px;
        display: grid;
        grid-template-columns: 100%;
    }
    .experience_text{
        padding: 10px;
    }
    .my_experience a{
        margin:auto;
    }
}

@media only screen and (max-width: 998px){
    
    nav{
        display:grid;
        grid-template-columns: 100%;
    }
    /* nav a{
        width:100%;
    } */
  

    .intro{
        display: grid;
        grid-template-columns: 100%;
        /* margin: 20px; */
        margin:0;
        padding:0;
        background-color: #fae3e5;
    }
    .intro_item.intro_text{
        background-color:#fae3e5;
        padding: 10px ;
        width: 100%;
        margin: 0px;
    }

    button{  
        padding: 15px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top:15px;
        font-size: 16px;
        border-radius: 45px;
        border-style: none;
        background-color: #FFFFFF;
        position: relative;
        z-index: 2;
    }
    img{
        max-width: 100%;
        height:auto;
    }
    .project_image img{
        height:auto;
    }
    .project_text{
        margin:0;
    }
    .my_work{
        display: grid;
        grid-template-columns: 100%;
        margin:0;
        padding:10px;
    }
    .my_work_two{
        display: grid;
        grid-template-columns: 100%;
        margin:auto;
        padding:10px;
    }
    
    .contact_form{
        background-color:#FFFFFF;
        padding:0;
        padding: 10px;
        margin: auto;
        width:100%
    }

}