
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;

}
/* Nav bar styling */

nav{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    width:100%;
    padding: 20px 0px 20px 0px;
    background-color: #d1e0ef;
    text-transform: uppercase;
}
   

.topnav{
    padding: 3px;
    /* text-transform: capitalize; */
}

nav a{
    text-decoration: none;
    margin: 20px;
    color: #000000;
}
    

nav i{
    padding: 0  5px 0 0;
}

/* Header styling  */

header{
    background-image: url("Images/Background.jpg");
    width: 100%;
    height: 750px;
}

.intro{
    display: grid;
    grid-template-columns: 60% 40%;
    padding-top: 100px;
    
}

.intro_item{
    margin: 30px;
    align-self: center;
   
}

.intro_item.intro_text{
    background-color:#FFFFFF ;
    padding: 100px 40px;

    margin-left: 150px;
  
}


.profile{
    object-fit: cover;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    display: block;
    margin:auto;
    /* margin-right: 200px; */
}

/* header button styling */

button{
    padding: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:30px;
    font-size: 20px;
    border-radius: 45px;
    border-style: none;
    background-color: #FFFFFF;
    position: relative;
    z-index: 2;
    
}

.jump_to_contact{
    text-decoration: none;
}

/* My work section styling */

.my_work{
    display: grid;
    grid-template-columns: 40% 60%;
    padding-top: 100px;
    background-color: #d1e0ef;
   
    
}
.project_text{
    padding: 40px;
    margin-left: 50px;
}
.project_image img{
   height: 400px;
   width:auto;
   padding: 30px;
   display: block;
   margin-left:auto;
   margin-right:auto;
   
}

.my_work_two{
    display: grid;
    grid-template-columns: 60% 40%;
    padding-top: 100px;
    background-color: #d1e0ef;
   
    
}

/* My experience section styling */

.my_experience{
    background-color: #fae3e5;
    margin: 0px;
    display: grid;
    grid-template-columns: 60% 40%;
}

.experience_text{
    padding: 150px;
}

/* Contact form styling */

.contact_form_section{
    background-image: url("Images/Background.jpg");
    width: 100%;
    height: 850px;
    padding-top:100px;
    
}
.contact_form{
    background-color: #FFFFFF;
    padding: 60px 40px;
    padding: 100px;
    margin: auto;
    width:50%;
    
}

input{
    display: block;
    padding:10px;
    margin: 10px;
    background-color: #d1e0ef;
    border:none;
    font-family:'Poppins', sans-serif;
}

textarea{
    margin:0 10px;
    padding: 1px 2px;
    background-color: #d1e0ef;
    border:none;
    font-family:'Poppins', sans-serif;
    padding: 10px;
    color:#000000
}

textarea::placeholder{
    color:#6a6a6a;
}

/* Footer bar styling */