
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
}
html{
    scroll-behavior: smooth;
}
/* Nav bar styling */

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #d1e0ef;
    text-transform: uppercase;
    color:#214794;
}
.topnav{
    padding: 12px;
}
nav a{
    text-decoration: none;
        margin: 10px;
}
nav a:hover{
    background-color:#fae3e5;
    border-radius: 25px;
    padding:12px;
    color:#e2431b;
}
nav i{
    padding-right: 5px;
}
/* Header styling  */
header{
    background-image: url("Images/Background.jpg");
    height: 750px;
}
.intro{
    display: grid;
    grid-template-columns: 60% 40%;
    padding-top: 100px;    
}
.intro_item{
    margin: 30px;
    align-self: center;
}
.intro_item.intro_text{
    background-color: #FFFFFF ;
    padding: 100px 40px;
    margin-left: 150px;
}
.profile{
    object-fit: cover;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    display: block;
    margin: auto;
}
/* header button styling */
button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    border-radius: 45px;
    border-style: none;
    background-color: #FFFFFF;
    position: relative;
    z-index: 2;
    padding: 30px;
    color:#214794;
}
.jump_to_contact{
    text-decoration: none;
}
/* My work section styling */
.my_work{
    display: grid;
    grid-template-columns: 40% 60%;
    padding-top: 100px;
    background-color: #d1e0ef; 
}
.project_text{
    padding: 40px;
    margin-left: 50px;
}
.project_image img{
   height: 400px;
   padding: 30px;
   display: block;
   margin-left: auto;
   margin-right: auto;
}
.my_work_two{
    display: grid;
    grid-template-columns: 60% 40%;
    padding-top: 100px;
    background-color: #d1e0ef;
}
.project_button{
    padding: 20px;
    margin-left: 0px;
    margin-right: 10px;
    font-size: 16px;
    display: inline;
}
a button:hover{
    background-color: #fae3e5;
}
a:hover button {
    color:#e2431b;
}
/* My experience section styling */
.my_experience{
    background-color: #fae3e5;
    margin: 0px;
    display: grid;
    grid-template-columns: 40% 30% 20%;
}
.cv_image{
    max-width: 500px;
}
.cv_icon{
    place-self: center;
}
.experience_text{
    padding: 100px;
}
/* Contact form styling */
.contact_form_section{
    background-image: url("Images/Background.jpg");
    height: 850px;
    padding-top: 100px;
}
.contact_form{
    background-color: #FFFFFF;
    padding: 100px;
    margin: auto;
    width: 50%;
}
.contact_form p{
    margin-left: 10px;
}
.contact_form h2{
    margin: 10px;
}
input{
    display: block;
    padding: 10px;
    margin: 10px;
    background-color: #d1e0ef;
    border: none;
    font-family:'Poppins', sans-serif;
    width: 60%;
}
textarea{
    margin: 0 10px;
    padding: 1px 2px;
    background-color: #d1e0ef;
    border: none;
    font-family:'Poppins', sans-serif;
    padding: 10px;
    color: #000000;
    width:60%;
}
textarea::placeholder{
    color: #6a6a6a;
}
.submit_button a{
    text-decoration: none;
}
/* Footer bar styling */
footer{
    height: 70px;
    background-color: #fae3e5;
    padding: 20px;
}
footer a{
    padding: 5px;
    text-decoration: none;
}
footer a:hover{
    color: #e2431b;
}
.email_link{
    float: right;
}
a{
    color:#214794;
    text-decoration: none;
}
@media only screen and (max-width:1305px){
    button{
        margin-top:15px;
    }
}
@media only screen and (max-width:1266px){
    .my_experience{
        display: grid;
        grid-template-columns: 100%;
        background-color: #fae3e5;
        background-size: cover;
        background-position: center;
        margin: 0px;
        display: grid;
    }
    .experience_text{
        padding: 10px;
    }
}
@media only screen and (max-width: 998px){
    .intro{
        
        grid-template-columns: 100%;
        margin:0;
        padding:0;
        background-color: #fae3e5;
    }
    .intro_item.intro_text{
        background-color: #fae3e5;
        padding: 10px ;
        width: 100%;
        margin: 0px;
    }
    header{
        background-image: none;
        height:auto;
    }

    button{  
        padding: 15px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        font-size: 16px;
        border-radius: 45px;
        border-style: none;
        background-color: #FFFFFF;
        position: relative;
        z-index: 2;
    }
    .header_button{
        display:none;
    }
    img{
        max-width: 100%;
        height: auto;
    }
    .project_image img{
        height: auto;
    }
    .project_text{
        margin: 0;
    }
    .my_work{
        grid-template-columns: 100%;
        margin: 0;
        padding: 10px;
    }
    .my_work_two{
        grid-template-columns: 100%;
        margin: 0;
        padding: 10px;
    }
    .contact_form{
        background-color:#FFFFFF;
        padding: 0;
        padding: 10px;
        /* margin: auto; */
        width: 80%;
    }

}
@media only screen and (max-width: 617px){
    nav a{
        display: grid;
		grid-template-columns: 100%;
	}
}

@media only screen and (max-width:505px){
    .cv_image{
        width:80%;
    }
}

@media only screen and (max-width:364px){
    .email_link{
        float: none;
        padding-top: 2px;
    }
   
    footer{
        padding:50px; 
        font-size:10px;       
    }
}